html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 36, 36);
    font-family: 'Comic Sans', sans-serif;
    font-size: 13px;
}
.horizon{
    padding: 0px 0px 0px 15px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 10%;
    color: white;
    background-color: rgba(143,143,143);
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    font-size: 1em;
}

#busca{
    margin: 0px 300px 0px 0px;
    background-color: rgb(80, 169, 211);
    border: solid 2px black;
    border-radius: 10px;
    width: 400px;
    height: 32px;
}

#txtbusca{
    float: left;
    background-color: transparent;
    padding: 1px;
    margin: 0px;
    font-size: 18px;
    border: none;
    width: 360px;
    height: 32px;
}

.busca img{
    float: right;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul > li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul > li > a{
    text-decoration: none;
    color:  inherit;
    margin: 0px;
    padding: 0px 50px 0px 0px;
    display: inline-block;
}

#nav ul {
    padding:7px;
    margin:100px;
    background-color:rgb(117, 115, 115);
    display:flex;
    justify-content: space-around;
    list-style:none;
}

#nav ul li {
    font-family: 'Comic Sans', sans-serif;
    font-size: 20px;
    color: #EDEDED;
    display: inline-block; 
}

.caixa{
    margin: 0px 1000px 0px 20px;
    padding: 10px 0px 10px 20px;
    border: 1px solid black;
    color: #EDEDED;
    align-self: center;
}

label {
    display: block;
    padding-left: 10px;
    text-indent: -10px;
}
input {
    padding: 0px 0px 0px 0px;
    margin: 15px 12px 0px 0px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.tvs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px;
    padding: top 1%;
    border:1px solid black;
    color: #EDEDED;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.geral {
    margin: 0;
    padding: 0;
    width: 300px;
    display: inline-block; margin-right: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rodape img{
    width: 30px;
    height: 30px;
    padding-right: 8px;
}

.rodape{
    background-color:black
}

.menu-rodape {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-decoration: none;
    color:  inherit;
    padding-bottom: 30px;
    padding-top: 30px;
    color: gray;
}

.menu-rodape label {
    text-decoration: none;
    color:  inherit;
    font-family:  monospace;
    font-size: 1.5em;
    font-weight: bold;
}